@model HN120_ShopQuanAo.Data.Models.ChiTietSp

@{
    ViewData["Title"] = "UpdateChiTietSp";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>UpdateChiTietSp</h1>

<h4>ChiTietSp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateChiTietSp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SKU" class="control-label"></label>
                <input asp-for="SKU" class="form-control" />
                <span asp-validation-for="SKU" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaKhuyenMai" class="control-label"></label>
                <input asp-for="MaKhuyenMai" class="form-control" />
                <span asp-validation-for="MaKhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlAnhSpct" class="control-label"></label>
                <input asp-for="UrlAnhSpct" type="file" class="form-control" />
                <span asp-validation-for="UrlAnhSpct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTon" class="control-label"></label>
                <input asp-for="SoLuongTon" class="form-control" />
                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />

    <a asp-action="AllChiTietSpManager" class="btn btn-warning">Hủy</a>


            </div>
        </form>
    </div>
</div>

<div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
