﻿@using HN120_ShopQuanAo.Data.Models;
@model HN120_ShopQuanAo.Data.Models.ChiTietSp

@{
    ViewData["Title"] = "UpdateChiTietSp";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<KhuyenMai> lstkm = ViewBag.lstkm as List<KhuyenMai>;

}

<h1>UpdateChiTietSp</h1>

<h4>ChiTietSp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateChiTietSp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="SKU" type="hidden" class="form-control" />
                <input asp-for="MaSp" type="hidden" class="form-control" />
                <input asp-for="MaSize" type="hidden" class="form-control" />
                <input asp-for="MaMau" type="hidden" class="form-control" />
            </div>      
            <div class="form-group">
                <label asp-for="UrlAnhSpct" class="control-label">Ảnh</label>
                <input type="file" class="form-control" value="imagectspFile" name="imagectspFile"/>
                <span asp-validation-for="UrlAnhSpct" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label">Đơn Giá</label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTon" class="control-label">Số Lượng</label>
                <input asp-for="SoLuongTon" class="form-control" />
                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />

    <a asp-action="SanPhamDetail" asp-controller="SanPham" asp-route-id="@Model.MaSp" class="btn btn-warning">Hủy</a>


            </div>
        </form>
    </div>
</div>

<div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
