@using HN120_ShopQuanAo.Data.ViewModels;
@model HN120_ShopQuanAo.Data.ViewModels.DeliveryAddressModel
@{
    ViewData["Title"] = "UpdateUserAddress";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<form asp-action="UpdateUserAddress" method="post">
    <div class="form-group">
        <label for="Consignee">Họ và tên</label>
        <input type="text" class="form-control" asp-for="Consignee" name="Consignee" required>
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Số điện thoại</label>
        <input type="text" class="form-control" asp-for="PhoneNumber" name="PhoneNumber" required>
    </div>
    <div class="form-group">
        <label for="City">Tỉnh/Thành phố</label>
        <select class="form-control" asp-for="City" id="city" name="City" required>
            <option value="" selected>Chọn tỉnh thành</option>
        </select>
    </div>
    <div class="form-group">
        <label for="District">Quận/Huyện</label>
        <select class="form-control" asp-for="District" id="district" name="District" required>
            <option value="" selected>Chọn quận huyện</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Ward">Phường/Xã</label>
        <select class="form-control" asp-for="Ward" id="ward" name="Ward" required>
            <option value="" selected>Chọn phường xã</option>
        </select>
    </div>
    <div class="form-group">
        <label for="SpecificAddress">Địa chỉ cụ thể</label>
        <input type="text" class="form-control" asp-for="Street" name="Street" required>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Trở lại</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Name);
        }
        citis.onchange = function () {
            districts.length = 1;
            wards.length = 1;
            if (this.value != "") {
                const result = data.filter(n => n.Name === this.value);

                for (const k of result[0].Districts) {
                    districts.options[districts.options.length] = new Option(k.Name, k.Name);
                }
            }
        };
        districts.onchange = function () {
            wards.length = 1;
            const dataCity = data.filter((n) => n.Name === citis.value);
            if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Name === this.value)[0].Wards;

                for (const w of dataWards) {
                    wards.options[wards.options.length] = new Option(w.Name, w.Name);
                }
            }
        };
    }
</script>