@model HN120_ShopQuanAo.Data.Models.ThuongHieu

@{
    ViewData["Title"] = "Create ThuongHieu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}


<h1>Thêm Thương Hiệu </h1>


@if (ViewData["ErrorMessage"] != null)
{
            <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
            </div>
}

<form asp-action="CreateThuongHieu" method="post">
    <div class="form-group">
        <label asp-for="TenThuongHieu"></label>
        <input asp-for="TenThuongHieu" class="form-control" />
        <span asp-validation-for="TenThuongHieu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MoTa"></label>
        <input asp-for="MoTa" class="form-control" />
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

    <a asp-action="AllThuongHieuManager" class="btn btn-warning">Hủy</a>


</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }