<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HN120_ShopQuanAo.View</title>
    <link rel="stylesheet" href="~/css/LayoutAdmin.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HN120_ShopQuanAo.View.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="ward">
        <header id="sidenavi">
            <div class="sidenav-top">
                <div class="sidenav-logo">
                    <img src="~/img/logo/image.png" alt="" class="logo_img">
                </div>
                <ul class="sidenav_drop_down">
                    <li class="can_hv">
                        <button class="row_menu accordion btnc" data-disable-addclass title="Thống kê">
                            <img src="./Images/icons8-warning-50.png" alt="" class="icon_dark_click icon_ward">
                            <img src="./Images/icons8-warning-50 (1).png" alt="" class="icon_light_click icon_ward">
                            <span class="text_accordion">Thống kê</span>
                            <img src="" alt="" class="icon_dark_click icon_angle">
                            <img src="" alt="" class="icon_light_click icon_angle">
                        </button>
                    </li>
                    <li class="can_hv">
                        <button class="row_menu accordion btnc">
                            <img src="./Images/icons8-warning-50.png" alt="" class="icon_dark_click icon_ward">
                            <img src="./Images/icons8-warning-50 (1).png" alt="" class="icon_light_click icon_ward">
                            <span class="text_accordion">Quản lý sản phẩm</span>
                            <img src="./Images/icons8-angle-down-30.png" alt="" class="icon_dark_click icon_angle">
                            <img src="./Images/icons8-angle-down-30 (1).png" alt="" class="icon_light_click icon_angle">
                        </button>
                        <ul class="">
                            <li class="btn_fm_danhsachcd btn_li">
                                <img class="listy_dw" src="./Images/icon-liststyle.svg" alt="">
                                <img class="listy_hv" src="./Images/icon-liststyle-hv.svg" alt="">
                                <a asp-controller="Size" asp-action="AllSizeManager">Size </a>
                            </li>
                            <li class="btn_fm_danhsachcd btn_li">
                                <img class="listy_dw" src="./Images/icon-liststyle.svg" alt="">
                                <img class="listy_hv" src="./Images/icon-liststyle-hv.svg" alt="">
                                <a asp-controller="MauSac" asp-action="AllMauSacManager">Màu sắc</a>
                            </li>
                            <li class="btn_fm_danhsachcd btn_li">
                                <img class="listy_dw" src="./Images/icon-liststyle.svg" alt="">
                                <img class="listy_hv" src="./Images/icon-liststyle-hv.svg" alt="">
                                <a asp-controller="ChatLieu" asp-action="AllThuongHieuManager">Thương Hiệu</a>
                            </li>
                            <li class="btn_fm_danhsachcd btn_li" >
                                <img class="listy_dw" src="./Images/icon-liststyle.svg" alt="">
                                <img class="listy_hv" src="./Images/icon-liststyle-hv.svg" alt="">
                                <a asp-controller="ChatLieu" asp-action="AllChatLieuManager">Chất liệu </a>
                            </li>
                            <li class="btn_fm_danhsachcd btn_li">
                                <img class="listy_dw" src="./Images/icon-liststyle.svg" alt="">
                                <img class="listy_hv" src="./Images/icon-liststyle-hv.svg" alt="">
                                <a asp-controller="TheLoai" asp-action="AllTheLoaiManager">Thể loại </a>
                            </li>
                        </ul>
                    </li>
                    <li class="can_hv">
                        <button class="row_menu accordion btnc">
                            <img src="./Images/icons8-warning-50.png" alt="" class="icon_dark_click icon_ward">
                            <img src="./Images/icons8-warning-50 (1).png" alt="" class="icon_light_click icon_ward">
                            <span class="text_accordion">Quản lý khuyến mại</span>
                            <img src="./Images/icons8-angle-down-30.png" alt="" class="icon_dark_click icon_angle">
                            <img src="./Images/icons8-angle-down-30 (1).png" alt="" class="icon_light_click icon_angle">
                        </button>
                        <ul class="">
                            <li class="btn_fm_danhsachcd btn_li">
                                <img class="listy_dw" src="./Images/icon-liststyle.svg" alt="">
                                <img class="listy_hv" src="./Images/icon-liststyle-hv.svg" alt="">
                                <a href="#">Quản lý Voucher </a>
                            </li>
                            <li class="btn_fm_danhsachcd btn_li">
                                <img class="listy_dw" src="./Images/icon-liststyle.svg" alt="">
                                <img class="listy_hv" src="./Images/icon-liststyle-hv.svg" alt="">
                                <a href="#">Giảm giá sản phẩm </a>
                            </li>
                        </ul>
                    </li>
                    <li class="can_hv">
                        <button class="row_menu accordion btnc">
                            <img src="./Images/icons8-warning-50.png" alt="" class="icon_dark_click icon_ward">
                            <img src="./Images/icons8-warning-50 (1).png" alt="" class="icon_light_click icon_ward">
                            <span class="text_accordion">Quản lý người dùng</span>
                            <img src="./Images/icons8-angle-down-30.png" alt="" class="icon_dark_click icon_angle">
                            <img src="./Images/icons8-angle-down-30 (1).png" alt="" class="icon_light_click icon_angle">
                        </button>
                        <ul class="">
                            <li class="btn_fm_danhsachcd btn_li">
                                <img class="listy_dw" src="./Images/icon-liststyle.svg" alt="">
                                <img class="listy_hv" src="./Images/icon-liststyle-hv.svg" alt="">
                                <a href="#">Danh sách nhân viên </a>
                            </li>
                            <li class="btn_fm_danhsachcd btn_li">
                                <img class="listy_dw" src="./Images/icon-liststyle.svg" alt="">
                                <img class="listy_hv" src="./Images/icon-liststyle-hv.svg" alt="">
                                <a href="#">Danh sách người dùng </a>
                            </li>
                        </ul>
                    </li>
                    <li class="can_hv">
                        <button class="row_menu accordion btnc">
                            <img src="./Images/icons8-warning-50.png" alt="" class="icon_dark_click icon_ward">
                            <img src="./Images/icons8-warning-50 (1).png" alt="" class="icon_light_click icon_ward">
                            <span class="text_accordion">Quản lý hóa đơn</span>
                            <img src="" alt="" class="icon_dark_click icon_angle">
                            <img src="" alt="" class="icon_light_click icon_angle">
                        </button>
                    </li>
                </ul>
            </div>

            <div class="saidenav_bot">
                <span class="un_collapsei">
                    <button class="btn_collapse">
                        <img src="./Images/kisspng-brand-logo-black-and-white-triangle-arrow-symbol-5a76c6d1df2c13.8388288415177335859141.png"
                             style="width: 17px;" alt="">
                    </button>
                </span>

                <div class="saidenav_login">
                    <span class="name_admin">
                        <img class="btn_login" src="./Images/admin.png" alt="" style="width: 30px; display: block;">
                        <span>admin</span>
                    </span>
                    <span class="btn_login btn_fr_loge"><i class="fa fa-caret-down"></i></span>
                    <div class="fm_login " style="display: none;">
                        <ul>
                            <li><span class='glyphicon glyphicon-lock'></span><a class="" href="#">Quen MK</a></li>
                            <li><span class="glyphicon glyphicon-log-out"></span><a href="">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container main">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/LayoutAdmin.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
