@model HN120_ShopQuanAo.Data.Models.TheLoai

@{
    ViewData["Title"] = "UpdateTheLoai";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa Thể Loại</h1>

<h4>TheLoai</h4>
@if (TempData["errorMessage"] != null)
{
                <div class="alert alert-danger">
        @TempData["errorMessage"]
                </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateTheLoai">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MaTheLoai" />

            <div class="form-group">
                <label asp-for="TenTheLoai" class="control-label"></label>
                <input asp-for="TenTheLoai" class="form-control" />
                <span asp-validation-for="TenTheLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="AllTheLoaiManager" class="btn btn-warning">Hủy</a>

            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
