@using HN120_ShopQuanAo.Data.Models
@using HN120_ShopQuanAo.View.Areas.Admin.Data

@{
    ViewData["Title"] = "GetAllHoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="~/js/hoadon/CRUDHoaDon.js"></script>
<h1>Quản lý hóa đơn</h1>
<div class="details" style="width : 100%">
    <div class="recentOrder">
        <div class="card-header">
            <h2></h2>
            <div class="row">
                <div class="col-md-6">
                    <select class="form-select" id="btn_phanloaihoadon" aria-label="Default select example">
                        <option value="">Tất cả</option>
                        <option value="1">Tại quầy</option>
                        <option value="2">Online</option>
                    </select>
                   
                </div>
                <div class="col-md-6">
                    <select class="form-select" id="btn_Loctheotrangthai" aria-label="Default select example">
                        <option value="" selected>Tất cả</option>
                        <option value="1">Chờ xác nhận</option>
                        <option value="2">Đã xác nhận</option>
                        <option value="3">Chờ giao hàng</option>
                        <option value="4">Đang giao hàng</option>
                        <option value="5">Đã hoàn thành</option>
                        <option value="6">Hủy</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" id="partialViewContainer">
        <div id="GetAllHoaDon_partialView" style="display:none">
            <partial name="GetAllHoaDon_partialView" />
        </div>
        <div id="HoaDonTaiQuayPartialView" style="display:none">
         <partial name="HoaDonTaiQuayPartialView" />
        </div>
        <div id="BanHangOnline_partialView" style="display:none">
            <partial name="BanHangOnline_partialView" />
        </div>        
    </div>
</div>
