#printableTable {
    display: none;
}
@media print {
    body * {
        visibility: hidden;
    }

    #printableTable, #printableTable * {
        visibility: visible;
    }

    #printableTable {
        border: 1px solid #000;
        position: absolute;
        left: 0;
        top: 0;
        width: 70%; /* Điều chỉnh chiều rộng */
        height: auto; /* Điều chỉnh chiều cao */
        overflow: visible;
        page-break-inside: avoid;
        display: table;
        margin-left:70px;
    }

    @page {
        size: A5; /* Thiết lập kích thước trang tự động dựa vào nội dung */
        margin: 10mm;
        /* Điều chỉnh lề trang in */
        page-break-before: avoid;
        page-break-after: avoid;
        page-break-inside: avoid;
    }
    .shop-info {
        width: 90%; /* Full width of the table */
        text-align: left;
        margin-top: 20px;
        margin-left: 10px;
        border-top: 1px solid #000;
        padding-top: 10px;
        box-sizing: border-box; /* Ensures padding and border are included in the width */
        position: relative;
    }
    .logo {
        display: block;
        margin: 0 auto 20px auto; /* Căn giữa ảnh và thêm khoảng cách dưới cùng */
        max-width: 100%; /* Đảm bảo ảnh không lớn hơn chiều rộng của bảng */
        height: auto; /* Duy trì tỷ lệ khung hình của ảnh */
       
    }
}
/* Điều chỉnh màu chữ và font chữ */
body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Tạo khoảng cách giữa các phần tử */
.row {
    margin-bottom: 20px;
}

/* Thiết lập kích thước cho hình ảnh */
img {
    max-width: 100%;
    height: auto;
}

/* Định dạng các nút và input */
.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

/* Tạo hiệu ứng hover cho nút */
.btn:hover {
    opacity: 0.8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Chiều rộng của nút gạt */
    height: 15px; /* Chiều cao của nút gạt */
}

 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px; /* Chiều cao của vòng tròn gạt */
    width: 11px; /* Chiều rộng của vòng tròn gạt */
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(25px); /* Khoảng cách dịch chuyển của vòng tròn gạt */
}

/* Kiểu tròn cho slider */
.slider.round {
    border-radius: 15px; /* Bo tròn các góc của slider */
}

.slider.round:before {
    border-radius: 50%; /* Bo tròn các góc của vòng tròn gạt */
}

#chitiethoadon_table th:nth-child(1),
#chitiethoadon_table td:nth-child(1) {
    display: none;
}
